PORT=3000
USERNAME=raff

PG_USER=raffraffraff
PG_HOST=ep-dawn-sky-23423434.eu-central-1.aws.neon.tech
PG_DB=neondb
PG_PASSWORD=Cfsdserc4g
PG_PORT=5432

JWT_SECRET=JhbOiJIUzI1NiIsInR5cXVCJ9.eyJzdIxMjM0NTY3ODkwIiwFtZSI6Ikpvx3aadwcqw43tsRDaaTE2MjMDIyfQ
JWT_EXPIRES_IN=90d

JWT_COOKIE_EXPIRES_IN=90

COOKIE_SECRET=JciOiJIUiIsR5dCI6IkXVCJ9.eydeIiOiIxMjM0NTY3ODkwIiwibmFtZSI4Ikpvaasdwcqw43tsRDaaTE2MMDIyfQ

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=Rafarafsas@gmail.com
EMAIL_PASS=asdarca3DErsdf
EMAIL_clientId=ssdfsd.3435.343.4.apps.googleusercontent.com
EMAIL_clientSecret=GOCSPX-fsjdsdrtscdARE
EMAIL_refreshToken=1//04IziOI24dSzBCgYIARAAGAQSNwF-L9IrLwWmVVBOsdsc5vrty6-dfgsr-4cfDlE_NGzLUnqMU
EMAIL_accessToken=ya29.a0Aa4xasa-ascarwetey6heIUdfsjZQi-U6Y-7LpHL1mTgCmBFGKUgNhiAKJBDA8S61JX_hXUFXEE7jkfBt5L1sVDI-yN3P89C_Ktrgdi8_TeT7vnWq_EAEAgmfHsukeLEmtU2glk3M4SaCgYKATASARESFQEjDvL93YY8oWw9crrjTgFQHlyNyA0163